<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA | National Basketball League</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body style="background-color:#f1f1f1;">
    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo"><a href="index"><img src="/static/rotula.png"></li></a>
                <li><a href="equipes" class="equipes">Equipes</a></li>
                <li><a href="formulario"class="formulario">Formulario Nova Equipe</li></a>
                <li><a href = "novaspartidas" class = "novaspartidas">Formulario nova partida</li></a>
                <li><a href = "listarequipes" class = "listarequipes">Lista de novas equipes</li></a>
            </ul>
        </div>
        <hr class="linhah">
    </div>
    <div class = "rotulacima">
        <img src="/static/rotulocima.png">
        <h1>Equipes Temporada 2020</h1>
    </div>
    <div class="time1">
        <div class="time1a">
            <img src="/static/rocketsframe.png">
            <h2>Houston</h2><br/><h1>Rockets</h1>
            <h3>PPG:112.8 | TOPG:12 | RBPG:47 | APG: 27.2 | FGP:43%</h3>
        </div>
    </div>
    <div class="time2">
        <div class="time2a">
            <img src="/static/lakersframe.png">
            <h2>LA</h2><br/><h1>Lakers</h1>
            <h3>PPG:120.8 | TOPG:15 | RBPG:42 | APG: 25.6 | FGP:39%</h3>
        </div>
    </div>
    <div class="time3">
        <div class="time3a">
            <img src="/static/clippersframe.png">
            <h2>LA</h2><br/><h1>Clippers</h1>
            <h3>PPG:120.8 | TOPG:15 | RBPG:42 | APG: 25.6 | FGP:39%</h3>
        </div>
    </div>
    <div class="time4">
        <div class="time4a">
            <img src="/static/knicksframe.png">
            <h2>New York</h2><br/><h1>Knicks</h1>
            <h3>PPG:101.8 | TOPG:18 | RBPG:38 | APG: 22.5 | FGP:36%</h3>
        </div>
    </div>
    <div class="time5">
        <div class="time5a">
            <img src="/static/denverframe.png">
            <h2>Denver</h2><br/><h1>Nuggets</h1>
            <h3>PPG:113.8 | TOPG:12 | RBPG:41 | APG: 28.5 | FGP:45%</h3>
        </div>
    </div>
    <div class="time6">
        <div class="time6a">
            <img src="/static/indianaframe.png">
            <h2>Indiana</h2><br/><h1>Pacers</h1>
            <h3>PPG:115.8 | TOPG:10 | RBPG:38 | APG: 23.4 | FGP:44%</h3>
        </div>
    </div>
    <div class="time7">
        <div class="time7a">
            <img src="/static/jazzframe.png">
            <h2>Utah</h2><br/><h1>Jazz</h1>
            <h3>PPG:105.9 | TOPG:12 | RBPG:41 | APG: 25 | FGP:40%</h3>
        </div>
    </div><div class="time8">
        <div class="time8a">
            <img src="/static/miamiframe.png">
            <h2>Utah</h2><br/><h1>Jazz</h1>
            <h3>PPG:111.3 | TOPG:9 | RBPG:45 | APG: 26 | FGP:35%</h3>
        </div>
    </div>
    <div>
        <div class="rotulos">
            <div class="fotorotula"><img src="/static/rotula.png"></div>
        </div>
    </div>
<hr class="linhafinal">
</body>
</html>