<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA | National Basketball League</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body style="background-color:#f1f1f1;">
    <link href=>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo"><a href="index"><img src="/static/rotula.png"></li></a>
                <li><a href="equipes" class="equipes">Equipes</a></li>
                <li><a href="formulario"class="formulario">Formulario Nova Equipe</li></a>
                <li><a href = "novaspartidas" class = "novaspartidas">Formulario nova partida</li></a>
                <li><a href = "listarequipes" class = "listarequipes">Lista de novas equipes</li></a>
            </ul>
        </div>
        <hr class="linhah">
    </div>
    <div class = "resultados">
        <div class="textores"><h2>RESULTADOS DA NOITE 25-10-2020</h1></div>
    </div>
    <hr class="linha2">
    <div class = "jogostabela1">
        <div class = "fotojogo1">
            <img src="/static/jogo1.png">
            <div class="jogo1txt">
                <h1>LA Lakers:112<br/>LA Clippers:108</h1>
            </div>
        </div>
        <div class="fotojogo2">
            <img src="/static/jogo2.png">
            <div class="jogo1txt">
                <h1>Denver Nuggets:98<br/>Utah Jazz:88</h1>
            </div>
        </div>
    </div>
    <div class = "jogostabela2">
        <div class = "fotojogo1t2">
            <img src="/static/jogo1t2.png">
            <div class="jogo1t2txt">
                <h1>New York Knicks:51<br/>Houstoun Rockets:258</h1>
            </div>
        </div>
        <div class="fotojogo2t2">
            <img src="/static/jogo2t2.png">
            <div class="jogo1t2txt">
                <h1>Indiana Pacers:99<br/>Miami Heat:123</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="rotulos">
            <div class="fotorotula"><img src="/static/rotula.png"></div>
        </div>
    </div>
<hr class="linhafinal">
</body>
</html>