<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Novo time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body style="background-color:#f1f1f1;">
    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo"><a href="index"><img src="/static/rotula.png"></li></a>
                <li><a href="equipes" class="equipes">Equipes</a></li>
                <li><a href="formulario"class="formulario">Formulario Nova Equipe</li></a>
                <li><a href = "novaspartidas" class = "novaspartidas">Formulario nova partida</li></a>
                <li><a href = "listarequipes" class = "listarequipes">Lista de novas equipes</li></a>
            </ul>
        </div>
        <hr class="linhah">
    </div>
    <div class ="formstyle">
        <form action="partidacadastro" autocomplete="off" method="POST"> 
                <h1>Confirme os dados da partida</h1>
                <label for="exampleInputEmail1"></label>
                <input type="text" class="form-control" name="time1" placeholder="Digite a equipe A">
                <label for="exampleInputPassword1"></label>
                <input type="text" class="form-control" name="time2" placeholder="Digite a equipe B">
                <label for="exampleInputPassword1"></label>
                <input type="text" class="form-control" name="time1score" placeholder="Score da equipe A">
                <label for="exampleInputPassword1"></label>
                <input type="text" class="form-control" name="time2score" placeholder="Score da equipe B">
                <input class="salvar" type="submit" value="Salvar"></button>
          </form>
    </div>
    <div>
        <div class="rotulos">
            <div class="fotorotula"><img src="/static/rotula.png"></div>
        </div>
    </div>
<hr class="linhafinal">
</body>
</html>